[Unit]
Description=frpc Service
After=network.target

[Service]
ExecStart=/opt/frp/frp_0.60.0_linux_amd64/frpc -c /opt/frp/frp_0.60.0_linux_amd64/frpc.toml
WorkingDirectory=/opt/frp/frp_0.60.0_linux_amd64
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
# or WantedBy=graphical.target
#use follow cmd to see,sudo systemctl  get-default
